[submodule "audit-codebases/morpho-blue-bundles"]
	path = audit-codebases/morpho-blue-bundles
	url = https://github.com/0xsimao/bundles.git
	branch = audit
[submodule "audit-codebases/morpho-midnight"]
	path = audit-codebases/morpho-midnight
	url = https://github.com/0xsimao/midnight.git
	branch = audit
[submodule "audit-codebases/superfluid"]
	path = audit-codebases/superfluid
	url = https://github.com/0xsimao/protocol-monorepo.git
	branch = audit
[submodule "audit-codebases/morpho-vault-v2"]
	path = audit-codebases/morpho-vault-v2
	url = https://github.com/0xsimao/vault-v2.git
	branch = audit
[submodule "audit-codebases/cap"]
	path = audit-codebases/cap
	url = https://github.com/0xsimao/2025-07-cap.git
	branch = audit
[submodule "audit-codebases/symbiotic-relay"]
	path = audit-codebases/symbiotic-relay
	url = https://github.com/0xsimao/2025-06-symbiotic-relay.git
	branch = audit
[submodule "audit-codebases/superfluid-locker-system-ii"]
	path = audit-codebases/superfluid-locker-system-ii
	url = https://github.com/0xsimao/2025-06-superfluid-locker-system.git
	branch = audit
[submodule "audit-codebases/crestal-network"]
	path = audit-codebases/crestal-network
	url = https://github.com/0xsimao/2025-03-crestal-network.git
	branch = audit
[submodule "audit-codebases/symmio-staking-and-vesting"]
	path = audit-codebases/symmio-staking-and-vesting
	url = https://github.com/0xsimao/2025-03-symm-io-stacking.git
	branch = audit
[submodule "audit-codebases/yieldoor"]
	path = audit-codebases/yieldoor
	url = https://github.com/0xsimao/2025-02-yieldoor.git
	branch = audit
[submodule "audit-codebases/autonomint"]
	path = audit-codebases/autonomint
	url = https://github.com/0xsimao/2024-11-autonomint.git
	branch = audit
[submodule "audit-codebases/superfluid-locker-system"]
	path = audit-codebases/superfluid-locker-system
	url = https://github.com/0xsimao/2024-11-superfluid-locking-contract.git
	branch = audit
[submodule "audit-codebases/mento"]
	path = audit-codebases/mento
	url = https://github.com/0xsimao/2024-10-mento-update.git
	branch = audit
[submodule "audit-codebases/saffron-lido-vaults"]
	path = audit-codebases/saffron-lido-vaults
	url = https://github.com/0xsimao/2024-08-saffron-finance.git
	branch = audit
[submodule "audit-codebases/flayer"]
	path = audit-codebases/flayer
	url = https://github.com/0xsimao/2024-08-flayer.git
	branch = audit
[submodule "audit-codebases/cork-protocol"]
	path = audit-codebases/cork-protocol
	url = https://github.com/0xsimao/2024-08-cork-protocol.git
	branch = audit
[submodule "audit-codebases/winnables-raffles"]
	path = audit-codebases/winnables-raffles
	url = https://github.com/0xsimao/2024-08-winnables-raffles.git
	branch = audit
[submodule "audit-codebases/exactly-protocol-update-staking-contract-ii"]
	path = audit-codebases/exactly-protocol-update-staking-contract-ii
	url = https://github.com/0xsimao/2024-07-exactly-stacking-contracts.git
	branch = audit
[submodule "audit-codebases/benddao"]
	path = audit-codebases/benddao
	url = https://github.com/0xsimao/2024-07-benddao.git
	branch = audit
[submodule "audit-codebases/pooltogether-the-prize-layer-for-defi"]
	path = audit-codebases/pooltogether-the-prize-layer-for-defi
	url = https://github.com/0xsimao/2024-05-pooltogether.git
	branch = audit
[submodule "audit-codebases/arbitrum-bold"]
	path = audit-codebases/arbitrum-bold
	url = https://github.com/0xsimao/2024-05-arbitrum-foundation.git
	branch = audit
[submodule "audit-codebases/renzo"]
	path = audit-codebases/renzo
	url = https://github.com/0xsimao/2024-04-renzo.git
	branch = audit
[submodule "audit-codebases/teller-finance"]
	path = audit-codebases/teller-finance
	url = https://github.com/0xsimao/2024-04-teller-finance.git
	branch = audit
[submodule "audit-codebases/titles-publishing-protocol"]
	path = audit-codebases/titles-publishing-protocol
	url = https://github.com/0xsimao/2024-04-titles.git
	branch = audit
[submodule "audit-codebases/zivoe"]
	path = audit-codebases/zivoe
	url = https://github.com/0xsimao/2024-03-zivoe.git
	branch = audit
[submodule "audit-codebases/metazero-ii"]
	path = audit-codebases/metazero-ii
	url = https://github.com/0xsimao/stakingContract.git
	branch = audit
[submodule "audit-codebases/m-0"]
	path = audit-codebases/m-0
	url = https://github.com/0xsimao/ttg.git
	branch = audit
[submodule "audit-codebases/init-capital-ii"]
	path = audit-codebases/init-capital-ii
	url = https://github.com/0xsimao/2023-12-initcapital.git
	branch = audit
[submodule "audit-codebases/verwa"]
	path = audit-codebases/verwa
	url = https://github.com/0xsimao/2023-08-verwa.git
	branch = audit
[submodule "audit-codebases/perennial-v2"]
	path = audit-codebases/perennial-v2
	url = https://github.com/0xsimao/2023-07-perennial.git
	branch = audit
[submodule "audit-codebases/tokemak"]
	path = audit-codebases/tokemak
	url = https://github.com/0xsimao/2023-06-tokemak.git
	branch = audit
[submodule "audit-codebases/ajna-protocol"]
	path = audit-codebases/ajna-protocol
	url = https://github.com/0xsimao/2023-05-ajna.git
	branch = audit
[submodule "audit-codebases/zksync-era-system-contracts"]
	path = audit-codebases/zksync-era-system-contracts
	url = https://github.com/0xsimao/2023-03-zksync.git
	branch = audit
[submodule "audit-codebases/wenwin"]
	path = audit-codebases/wenwin
	url = https://github.com/0xsimao/2023-03-wenwin.git
	branch = audit
[submodule "audit-codebases/biconomy"]
	path = audit-codebases/biconomy
	url = https://github.com/0xsimao/2023-01-biconomy.git
	branch = audit
[submodule "audit-codebases/gogopool"]
	path = audit-codebases/gogopool
	url = https://github.com/0xsimao/2022-12-gogopool.git
	branch = audit
